<nav>
    <center><h1 class="second">myFitnessTracker</h1></li></center>
    <center><h2 class="user">Users</h2></center>

    <center><h3 class="navLinks">
      <%= link_to "Users", users_path %> | <%= link_to "Goals", goals_path %> | <%= link_to 'New User', new_user_path %></h3></center>
  </nav>

<p id="notice"><%= notice %></p>

<center><h1 class="third"></h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @users.each do |user| %>
    <h2><%= link_to user.name, user %></h2>
    <img src ="<%=user.picture %>"/>
      <tr>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure!?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
