<nav>
    <center><h1 class="third">myFitnessTracker</h1></center>
    <center><h2 class="goals">Goals</h2></center>

    <center><h3 class="navLinks">
      <%= link_to "Users", users_path %> | <%= link_to "Goals", goals_path %> | <%= link_to 'New Goal', new_goal_path %></h3></center>

</nav>

<p id="notice"><%= notice %></p>

<div class = "container">

    <% @goals.each do |goal| %>
    <center>
    <p>User: <%= goal.user_id %></p>
    <p>Excercise: <%= goal.exercise_name %></p>
    <p>Length/Reps: <%= goal.length %></p>
    <p>Sets: <%= goal.sets %></p>
    <p>Created At: <%= goal.created_at %></p>
        <%= link_to 'Show', goal, class: "centercrud" %>
        <%= link_to 'Edit', edit_goal_path(goal), class: "centercrud" %>
        <%= link_to 'Delete', goal, method: :delete, data: { confirm: 'Are you sure?' }, class: "centercrud" %></center>
    </div>
    <% end %>
</div>

<br>
